$gray: #9B9B9B;
$pink: #f498d5;
$purple: #C60083;
$white: #FFF;
$black: #000;
$green: #0f9651;
$lightBlack: #2A2A2A;
$lightRed: #FF5743;
$white: #FFF;
$orange: #FF9A32;
$blue: #1DACD6;
$lightGrey: rgba(134, 193, 246, 0.15);
$primary: #ff4656;

$grayscale-lt1: #1c1c1c;
$grayscale-lt2: #303030;
$grayscale-lt3: #575757;
$grayscale-lt4: #969696;
$grayscale-lt5: #bdbdbd;
$grayscale-lt6: #e8e8e8;
$grayscale-lt7: #f4f4f4;
$grayscale-lt8: #ffffff;

$grayscale-dt1: #ffffff;
$grayscale-dt2: #e8e8e8;
$grayscale-dt3: #bdbdbd;
$grayscale-dt4: #969696;
$grayscale-dt5: #575757;
$grayscale-dt6: #373737;
$grayscale-dt7: #2c2c2c;
$grayscale-dt8: #1c1c1c;
