@import 'src/app/styles/vars';

.manga {
	height: fit-content;

	&Image {
		min-height: 200px;
		display: flex;
		justify-content: center;
	}

	&Title {
		color: $white;
		font-family: Roboto;
		display: flex;
		align-items: center;
		gap: 15px;
	}

	&Description {
		font-size: 16px;
		font-family: Roboto;
		color: $grayscale-dt1;
		padding: 20px 0;
	}

	&Wrapper {
		display: grid;
		grid-template-columns: 30% 1fr;
		gap: 20px;
		padding: 20px 0;
	}
}

.aside {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	&Preview {
		object-fit: cover;
		width: 100%;

		&Wrapper {
			border-radius: 8px;
			overflow: hidden;
			border: 1px solid $primary;
		}
	}

	&Menu {
		position: sticky;
		top: 100px;
		max-height: max-content;
		border-radius: 8px;
		padding: 10px 20px;
		border: 1px solid $primary;
	}
}

.loader {
	margin: auto;
}
