@import "src/app/styles/styles";

.search {
  &List {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &Item {
    border: 1px solid $primary;
    max-width: 200px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Roboto;
    color: $white;
    font-size: 16px;
    svg {
      margin: 0 auto;
    }
  }

  &Preview {
    border-radius: 8px;
    border: 1px solid $primary;
    width: 100%;
    object-fit: cover;
    display: block;
    min-height: 150px;
  }
}